.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  padding: 220px 50px;
  display: flex;
  justify-content: space-between;
}

.block {
  width: 150px;
  height: 150px;
  border: 1px solid black;
}

.block-1 {
  animation: MoveUpDown 5s 0s infinite linear;
}

.button {
  margin-top: 120px;
  width: 150px;
  height: 30px;
}

.ball {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-color: red;
  border-radius: 50%;
}

.ball_hidden {
  opacity: 0;
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(100%);
  }
}
